{% extends "index.html" %}

{% block title %} {{page.title}} {% endblock title %}
{% block content %}
<article itemscope itemtype="http://schema.org/BlogPosting" class="post post-page">
    <header>
        {% if page.category %}
            <a  class="category" href="{{ get_taxonomy_url(kind="category", name=page.category) }}">
                {{ page.category }}
            </a>
        {% endif %}
        <h1 class="title" itemprop="headline">{{ page.title }}</h1>
        <address itemprop="author" itemscope itemtype="https://schema.org/Person">
            <span itemprop="name">{{page.extra.author}}</span>
        </address>
        <div class="extra">
            {% if page.tags %}
                {{config.extra.label_tags}}:
                {% for tag in page.tags %}
                    <a href="{{ get_taxonomy_url(kind="tag", name=tag) }}">{{ tag }}</a>
                    {% if page.tags | length > 1 %}
                        {% if loop.index != page.tags | length %}
                            {% if loop.index == page.tags | length - 1 %}
                                e
                            {% else %}
                                ,
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if page.extra.relative_posts %}
                <div class="relative-posts">
                    {{config.extra.label_relative_posts}}:
                    <ul class="base-list">
                        {% for relative in page.extra.relative_posts %}
                            <li>
                                - <a href="{{relative.url}}">{{relative.label}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </header>
    <div itemprop="articleBody" class="body">
      {{ page.content | safe }}
    </div>
</article>

{% endblock content %}
{% block sidebar %}
{% endblock sidebar %}

